.productBlock {
    background-color: white;
    border-radius: 1rem;
    transition: 600ms all;

}

.productBlock:hover {
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    transition: 600ms all;
}

.productImage {
    width: 18.3125rem;
    height: 11.1875rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;

    transition: transform .7s;
}

.productImage:hover {
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.01); 
}


.productTitle {
    padding-left: 0.3rem;
    font-size: 1rem;
}

.productToppings{
    height: 34px;
    padding-left: 0.3rem;
    font-size: 0.7rem;
    color: #777;
}

.productReplaceableProd {
    padding-left: 0.3rem;
    font-size: 11px;
    border-bottom: 1px solid #000;
}

.productBlockDetailsCol{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 15% 25% 25%;

    margin-top: 10px;
    text-align: center;
    

    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;

}



.productBtn {
    font-size: 13px;
    padding: 5px 0;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
}