    .sortBlock {
    width: 250px;
    height: 30px;
    display: grid;
    grid-template-columns: 85% 15%;
    position: relative;
    top: 10px;
    left: 1380px;
    margin: 40px 0 30px 0 ;
    justify-items: center;

    background-color: white;

    border: 1px solid #999;
    border-radius: 20px;

}



.sortBlock:hover {
    color: #999;
    cursor: pointer;
}

.sortBtn {
    width: 117%;
    position: relative;
    left: 19px;
    color: #555;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
}

.sortWindow {
    margin: 32px 210px 0 0;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
}

.sortWindowNone {
    display: none;
}

.sortWindowBtnFalse {
    width: 250px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}


.sortWindowBtnTrue {
    width: 250px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.sortWindowBtnTrue:hover, .sortWindowBtnFalse:hover {
    background-color: #999;
}

.productListTitle {
    display: flex;
    gap: 15px;

    justify-content: center;

    font-size: 20px;
    font-weight: 700;

}


.containerProductList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    width: 70%;
    margin: 16px auto;
}



