.cardInner {
    width: 80%;
    display: flex;
    flex: 1 1 0;
    gap: 2rem;
    margin: 5rem auto;
    /* border: 1px solid teal; */

}

.card {
    width: 19.4rem;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 1rem;
    transition: 600ms all;

}

.card:hover {
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    transition: 600ms all;
}

.cardImage {
    width: 293px;
    height: 179px;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.cardTitle {
    padding: 0.5rem;
    font-size: 1.2rem;
}

.cardDescription{
    padding: 0.5rem;
    font-size: 0.9rem;
}

.ReplaceIngredients {
    font-size: 0.8rem;
    border-bottom: 1px solid #000;
}


.productButtons {
    display: flex;
    flex: 1 1 0;
    margin: 0.5rem auto;
    padding: 0.5rem auto;
    background-color: rgb(216, 215, 215);
    border: 1px solid #333;
    border-radius: 1rem;

    justify-content: center;
}

div button {
    background-color: rgba(255, 255, 255, 0);
    padding: 0 0.66rem;
    }