.productBlockInner {
    width: 80%;
    display: flex;
    flex: 1 1 0;
    /* border: 1px solid teal; */

}

.productBlock {
    width: 19.4rem;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 1rem;
    transition: 600ms all;

}

.productBlock:hover {
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    transition: 600ms all;
}

.productImage {
    width: 293px;
    height: 179px;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}

.productTitle {
    padding: 0.5rem;
    font-size: 1.2rem;
}

.productToppings{
    padding: 0.5rem;
    font-size: 0.9rem;
}

.productReplaceableProd {
    font-size: 0.8rem;
    border-bottom: 1px solid #000;
}


.productBlockDetailsColX{
    display: flex;
    flex: 1 1 0;
    margin: 0.5rem auto;
    padding: 0.5rem auto;
    background-color: rgb(216, 215, 215);
    border: 1px solid #333;
    border-radius: 1rem;

    justify-content: center;
}

.productBlockDetailsColY {
    margin-top: 1rem;
}

.productBlockToggle__FlavorBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}

#productBtnFlavour {
    width: 2rem;
    background: #333;
}

div button {
    background-color: rgba(255, 255, 255, 0);
    padding: 0 0.66rem;
}


.productBlockPriceRow {
    display: flex;
    justify-content: center;
    margin: 1.5rem 1rem 0.5rem 1rem;
    gap: 4.5rem;
    font-weight: 700;
}

.productBlockPriceBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 1rem;

}

.productPrice {

}


.productBlockWrap {
    padding: 1rem 2.5rem;
    background-color: rgb(252, 85, 85);
    border-radius: 1rem;

}