@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;

}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}


body {
    background-color: rgb(235, 235, 235);
    color: black;
    line-height: 1.7;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
}

a,
button{
    cursor: pointer;
}



/*----------------- general styles -----------------*/

.container {
    margin: 0 auto;
}


.active {
    display: block;
    background: #333;
    color: white;
    border-radius: 1rem;
}



