.productBlockInner {
    width: 19.7rem;
    height: 30.12rem;
    padding: 0.63rem;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 1rem;
}

.productBlock {
    background-color: white;
    border-radius: 1rem;
    transition: 600ms all;

}

.productBlock:hover {
    -webkit-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 8px rgba(0,0,0,0.75);
    transition: 600ms all;
}

.productImage {
    width: 18.3125rem;
    height: 11.1875rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;

    transition: transform .2s;
}

.productImage:hover {
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.01); 
}


.productTitle {
    padding-left: 0.3rem;
    font-size: 1rem;
}

.productToppings{
    height: 34px;
    padding-left: 0.3rem;
    font-size: 0.7rem;
    color: #777;
}

.productReplaceableProd {
    padding-left: 0.3rem;
    font-size: 11px;
    border-bottom: 1px solid #000;
}

.productBlockDetailsCol{
    width: 100%;
    display: grid;
    grid-template-columns: 35% 15% 25% 25%;

    margin-top: 10px;
    text-align: center;
    

    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;

}



.productBtn {
    font-size: 13px;
    padding: 5px 0;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
}

.productBtnFlavor {
    font-size: 13px;
    padding: 5px 0;
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
}

.productBtnActive {
    font-size: 13px;
    color: #fff;
    background-color: #666;

    border-radius: 20px;

    transition: 400ms all}


.productBlockToggle__FlavorBlock {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
    margin-top: 15px;
}



.productBlockPriceRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    font-weight: 700;
}

.productBlockPriceBlock {
    display: flex;
    margin: 10px 0 0 10px;
    
}


.productBlockWrap {
    width: 138px;
    height: 3rem;
    margin: -8px 0px 0 20px; 
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(201, 53, 53);
    border-radius: 1rem;
}

.productBlockWrap:hover {
    background-color: rgb(155, 50, 50);
}


.increaseDecreaseBtns{
    display: flex;
    width: 138px;
    height: 48px;

    margin: -8px 0 0 10px; 

    background-color: rgba(237, 237, 237, 0.671);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 16px;
}

/* .increaseBtn {
    width: 48px;
    height: 48px;
    margin: -2px 0 0 -1px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 15px;

} */

.increase {
    width: 48px;
    height: 48px;
    margin: -1px 0 0 19px;

    font-size: 18px;

    border: 1px solid rgb(212, 212, 212);
    border-radius: 15px;

}

.decrease {
    width: 48px;
    height: 48px;
    margin: -1px 0 0 -2px;

    font-size: 18px;


    border: 1px solid rgb(212, 212, 212);
    border-radius: 15px;

}

.count {
    margin: 9px 0 0 20px;
}