.news {

    width: 70%;
    margin: 5rem auto;
    position: relative;
    text-align: center;
}

.newsDescription{
    position: absolute;
    top: 75%;
    left: 20%;
    padding: 2rem 5rem;
    background-color: rgba(0, 0, 0, 0.533);
    border-radius: 2rem;
    color: rgb(231, 231, 231);
}

.title {
    font-size: 2rem;
}

.body {
    font-size: 1.2rem;
}

.image {
    width: 70%;
    aspect-ratio: 16/9;
    border-radius: 2rem;
}




